{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
{% load static %}
<div class="h-100 row align-items-center">
    <img class="bd-placeholder-img rounded-circle mx-auto p-3" width="280" height="140"
        src="{% static 'home/logo.jpg' %}"></img>
</div>
<b>
    <p class="text-center">Milan Priyadarshi</p>
</b>
<i><small>
        <p class="mr-0" style="text-align:center;">fueled by passion</p>
    </small></i>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-3">
        <h5 class="display-4 font-weight-normal">About</h5>
        <p class="lead font-weight-normal text-monospace my-4">Today’s technology is a booming market full of exciting and innovative products and new learning opportunities. With technology as a major consumer of our time and also an exciting experience in our world today.</p>
        <p class="lead font-weight-normal text-monospace my-3">"Technology is best when it brings people together"</p>
        <p class="lead font-weight-normal text-monospace my-3">"Once a new technology rolls over you, if you're not part of the steamroller, you're part of the road"</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
{% endblock body %}