{% extends 'base.html' %}
{% block title %}Blog
{% endblock title %}
{% block blogactive %}active
{% endblock blogactive %}active
{% block body %}
{% load static %}
<div class="container text-center my-2">
  <h5 class="text-monospace">Welcome to Blog</h5>
</div>

<div class="row my-4">
{% for i in allPosts reversed  %}
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card shadow border-0 h-100"><img class="img-fluid card-img-top"
        src="/media/{{i.image}}" alt="...">
      <div class="card-body">by {{i.author}}
        <h5 class="my-2">{{i.title}}</h5>
        <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i>{{i.timeStamp}}</p>
        <p class="my-2 text-muted text-sm">{{i.desc | truncatechars:150}}</p><a class="btn btn-primary pl-0" href="/blog/{{i.slug}}"> Read more -></a>
      </div>
    </div>
  </div>
  
{% endfor %}
</div>

{% endblock body %}